#rubric {
    display: none;
}

td {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#rubricButton {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#test {
    background-color: green;
}

#header {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.loginheader {
    height: 350px;
    width: 100%;
    margin-bottom: -240px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.bg-block {
    border: solid 2px red;
}

#div1 {
    background-image: url("tu205.png");
    background-size: cover; /* Resize the background image to cover the entire background */
    background-position: center;
    margin-top: 250px; /* Adjust the margin-top to move it down */
    width: 100%;
    height: 510px; /* Adjust the height as needed */
}

#my{
    zoom: 80%;
    }

